<body class="relative grid place-items-center sm:h-screen">
    <div id="errors"
        style=" background: #c00; color: #fff; display: none; margin: -20px -20px 20px; padding: 20px; white-space: pre-wrap; ">
    </div>

    <div id="jamon" class="absolute w-full h-full bg-transparent bg-no-repeat bg-cover"></div>

    <div class="sm:w-[26%]">
        {% include "controls.html" %}
        <main class="bg-indigo-500 rounded-none pt-1 sm:rounded-lg">
            {% include "inputs.html" %}
            {% include "output.html" %}
        </main>
    </div>
</body>
